body {
  margin: 0;
  padding: 0;
  background-color: rgb(221, 221, 221);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  text-align: center;
  margin: 0;
  padding: 0;
}
.mainHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: rgba(53, 58, 58, 0.349);
}
.btn{
  padding: 5px 10px;
  color: #fff;
  border: none;
  font-weight: bold;
}
.btn:hover{
  opacity: .7;
  cursor: pointer;
}
.tasks{
  background-color: rgb(49, 49, 49);
  text-align: left;
  padding: 10px;
  color: #fff;
  margin: 5px;
  border-radius: 10px;
}
.task{
  border: 2px dashed white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;

}
.task p{
  color: rgba(255, 255, 255, 0.589);
}
.reminder{
  border-left: 4px solid rgb(118, 173, 35);
}
.firstLine{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form{
  background-color: rgb(66, 61, 61);
  margin: 10px;
  border-radius: 5px;
  color: #fff;
}
input{
  border: none;
  border-bottom: 2px white solid;
  background-color: transparent;
  margin-left: 5px;
  outline: none;
  color: #fff;
}
button[type=submit]{
  background: rgb(167, 24, 24);
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  color: white;
  margin: 5px;
}
button[type=submit]:hover{
  opacity: 0.7;
  font-size: 1em;
  cursor: pointer;
}
#taskName{
  padding: 10px;
}
#taskRemind{
  padding: 10px;
}
#taskDay{
  padding: 10px;
}
.delBtn{
  cursor: pointer;
}